<section class="container">


  <ul class="list-group">
    <li *ngFor="let l of lista" class="list-group-item py-3 elemento">

      <div class="row">

        <div class="col" style="max-width: 35px;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
        </div>

        <div class="col">
          <span class="texto-elemento">Descrição do elemento</span>
        </div>
        <div class="col">
          15:30
        </div>

        <div class="col" title="Baixar currículo">
          R$ 598,39
        </div>

        <div class="col">
          <i class="fa fa-play-circle-o me-2" aria-hidden="true"></i>
          <i class="fa fa-info-circle me-2" aria-hidden="true"></i>
          <i class="fa fa-file-text me-2" aria-hidden="true"></i>
        </div>
      </div>



    </li>


    <li class="list-group-item py-3">
      <div class="row">

        <div class="col" style="max-width: 35px;">
          <div class="form-check">
            <input class="form-check-input" disabled type="checkbox" value="" id="flexCheckDefault">
          </div>
        </div>

        <div class="col">
          <span class="text-muted">+ Adicionar elemento</span>
        </div>
      </div>

    </li>
  </ul>


</section>
